@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fontFamily: 'Raleway', sans-serif;
  --borderRadius: 3px;
  --maxWidth: 1100px;
  --transition: all 0.3s linear;
  --primaryColor: #a6f0c6;
  --secondaryColor: #a98b98;
  --lightColor: #f8f1f1;
  --darkColor: #0f1123;
}

body {
  font-family: var(--fontFamily);
  line-height: 1.5;
  letter-spacing: 2px;
  font-size: 18px;
  background-color: var(--lightColor);
  color: var(--darkColor);
}
